/*
* Author - Vinit Shahdeo
* Email -vinitshahdeo@gmail.com
*/
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
          h1{
              font-family: 'Berkshire Swash', cursive;
              color:  #3cb0fd;
             text-align: center;
              padding-top:20px;
               text-shadow:0 2px 4px rgba(0,0,0,.37);
  -moz-text-shadow:0 2px 4px rgba(0,0,0,.37);
  -webkit-text-shadow:0 2px 4px rgba(0,0,0,.37);
          }
          #results{
             margin: auto;
            width: 70%;
            padding:20px 10px;
            font-family: 'Montserrat', sans-serif;
              color: dimgrey;
              text-align: justify;
          }
          #results p{
              opacity: 0.6;
              font-weight:400;
          }
          #results a{
             font-family: 'Montserrat', sans-serif;
              font-weight:bolder;
              color: #3498db;
              font-size: 1.2em;
          }
          #results a:hover{
              opacity: 0.7;
          }
          #developer{
              position:relative;
              padding-top: 20px;
              padding-bottom: 5px;
              bottom:0;
              left: 0;
              right: 0;
              margin: auto;
              text-align:center;
              color:slategrey;
                font-weight: bold;
               font-family: 'Raleway', sans-serif;
                 opacity: 0.3;
          }
          #developer a{
           
              text-decoration: none;
              
            color:slategray;
            
            
          }
          #developer a:hover{
              opacity: 0.8;
              color:#3498db;
          }
          
          .searchform {
  background:#f4f4f4;
  background:rgba(244,244,244,.79);
  border: 1px solid #d3d3d3;
	left: 50%;
  padding: 2px 5px;
  position: absolute;
	margin: -22px 0 0 -170px;
	
  width:330px;
  box-shadow:0 4px 9px rgba(0,0,0,.37);
  -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
  -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}

.searchform input, .searchform button {
	float: left;
}
.searchform input {
	background:#fefefe;
	border: none;
    color:grey;
	font:12px/12px 'Montserrat', sans-serif;
    font-weight:bolder;
    text-transform: capitalize;
	margin-right: 5px;
	padding: 10px;
	width: 216px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
	.searchform input:focus {
		outline: none;
		box-shadow:0 0 4px #0d76be inset;
		-moz-box-shadow:0 0 4px #0d76be inset;
		-webkit-box-shadow:0 0 4px #0d76be inset;
	}
	.searchform input::-webkit-input-placeholder {
  	font-style: italic;
  	line-height: 15px
	}

	.searchform input:-moz-placeholder {
	  font-style: italic;
  	line-height: 15px
	}

.searchform button {
	background: rgb(52,173,236);
	background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
	background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
	border: none;
	color:#fff;
	cursor: pointer;
	font: 13px/13px 'Montserrat', sans-serif;
	padding: 10px;
	width:106px;
	box-shadow: 0 0 2px #2692dd inset;
	-moz-box-shadow: 0 0 2px #2692dd inset;
	-webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
	.searchform button:hover {
		opacity:.9;
        outline: none;
}	